body {
    gap: 24px;
    display: flex;
    flex-direction: column;
    background-color: #272030;
    color: #e7ffff;
    margin: 24px;
    padding: 16px;
    font-family: monserrat;
}

.logo {
    font-family: liber;
    font-weight: bold;
    font-size: 24px;
    color: #3498DB;
    padding: 16px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e7ffff;
    color: #272030;
    border-radius: 8px;
    position: fixed;
    width: 93%;
}

.navbar {
    list-style: none;
    display: flex;
}

.navbar li a {
    text-decoration: none;
    color: #272030;
    font-size: 16px;
    font-weight: bold;
    margin-right: 16px;
    padding: 16px;
    border-radius: 8px;
}

.navbar li :hover{
    background-color: #272030;
    color: #e7ffff;
    margin-right: 16px;
    padding: 16px;
    border-radius: 8px;
}

.home-container {
    background: #272030;
    background: linear-gradient(30deg, rgba(39, 32, 48, 1) 8%, #275A7F 50%, rgba(39, 32, 48, 1) 92%);
    border-radius: 8px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px 40px 0px;
    padding: 20px;
}

.home-container h1 {
    font-size: 40px;
}
.home-container h2 {
    font-size: 36px;
}

.home-container a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: #e7ffff;
    background-color: #3498DB;
    padding: 12px 24px;
    border-radius: 8px;
    margin-top: 20px;
}

.home-container i {
    margin-right: 8px;
}

.home-container a:hover {
    background-color: #e7ffff;
    color: #3498DB;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    margin: 24px;
    gap: 24px;
    align-content: center;
  }

    .about-image {
      flex: 1 1 40%;
      width: 400px;
      height: 400px;
      margin-top: 40px;
    }

    .about-text {
      flex: 1 1 60%;
    }

    .about-text h2 {
      font-size: 36px;
      margin-top: 44px;
    }

    .about-text p {
      font-size: 24px;
      line-height: 1.5;
      margin-left: 32px;
      text-align: justify;
    }

    .about-text span {
      color: #77C1F9;
      font-weight: bold;
    }

    .about-image img {
      max-width: 80%;
      border-radius: 8px;
    }

    .about-text i {
      margin-right: 16px;
      font-size: 32px;
    }

    .cv {
      text-decoration: none;
      font-size: 20px;
      font-weight: bolder;
      color: #e7ffff;
      background-color: #3498DB;
      padding: 12px 24px;
      border-radius: 8px;
      margin-top: 20px;
      margin-left: 32px;
    }

    .cv:hover {
      background-color: #e7ffff;
      color: #3498DB;
    }

    .hire-me {
        flex-direction: column;
        align-items: center;
        margin: 24px;
    }

    .hire-me h2 {
      font-size: 36px;
    }

    .hire-me i {
      margin-right: 16px;
      font-size: 32px;
    }

    .hire-me h3 {
      font-size: 24px;
    }

    .hire-me p {
      font-size: 20px;
      line-height: 1.5;
    }

.reasons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 40px;
}

.reason-card {
    border: 1px solid #676872;
    padding: 12px;
    border-radius: 8px;
    color: #e7ffff;
    background-color: #232426;
    width: 320px;
    align-items: center;
    text-align: center;
    margin: 0 auto
}

.reason-card h3 {
  color: #77C1F9;
  margin-bottom: 0.5rem;
}

.skills {
    margin-top: 32px;
}

.skills-title {
  margin-bottom: 1rem;
  color: #e7ffff;
  margin-top: 32px;
}

.skills h2 {
    font-size: 32px;
    text-align: center;
    margin: 8px;
    line-height: 24px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: auto;
  justify-items: center;
  margin-top: 32px;
}

.skill-item {
  background-color: #1D384B;
  color: #e7ffff;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  font-weight: 800;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#porto {
    margin: 24px;
}

.porto-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto;
      gap: 40px;
      margin-top: 32px;
    }

    .porto-container :hover {
        background-color: #1C252C;
    }

    .porto-item {
        border: 1px solid #676872;
        padding: 12px;
        border-radius: 8px;
        color: #e7ffff;
        background-color: #232426;
    }

    .porto-item img {
      max-width: 94%;
      height: auto;
      display: block; 
      border-radius: 8px;
      align-content: center;
      margin: 0 auto;
    }

    .porto-title {
        margin-top: 80px;
    }

    .porto-title i {
      margin-right: 16px;
      font-size: 32px;
    }

    .porto-title h2 {
      font-size: 36px;
    }

    .porto-title p {
      font-size: 24px;
      line-height: 1.5;
      text-align: justify;
    }

    .porto-item h3 {
      font-size: 32px;
    }

    .porto-item p {
      font-size: 18px;
      line-height: 1.5;
      text-align: justify;
    }

    .porto-item span {
      color: #77C1F9;
      font-weight: bold;
      font-size: 20px;
    }

    .porto-item i {
      margin-right: 16px;
      font-size: 32px;
    }

    .porto-link {
      display: inline-block;
      padding: 12px 24px;
      border-radius: 8px;
      margin-top: 20px;
      background-color: #3498DB;
      color: #e7ffff;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
      width: auto;
      text-align: center;
    }

    .porto-link:hover {
      background-color: #e7ffff;
      color: #3498DB;
    }

    .porto-link i {
      margin-left: 12px;
      font-size: 14px;
    }